body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

#hero {
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 770px;
    padding: 40px 0 70px 0;
    background: url("../images/bg.png") center/cover;
}

.hero_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hero_title {
    margin: 0;
    font-family: 'BebasNeueBold', sans-serif;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 6;
    color: #FFFFFF;
}

.container {
    max-width: 960px;
    padding: 0 105px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    width: 101px;
}

.color_blue {
    color: blue;
}

.hero_desc {
    margin: 0;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #FFFFFF;
}

#header {
    height: 65px;
    background: #ffffff;
    border: 1px solid #E6E6E6;
}

.hero_scroll {
    font-family: 'OpenSans'sans-serif;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
}

.header_item {
    font-weight: 600;
    font-family: 'OpenSans'sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.09091px;
    color: #48555B;
}

.header_item:hover {
    color: blue;
}

.header_item:not(:last-child) {
    margin-right: 39px;

}

.row {
    margin: 0 -15px;
    display: flex;
}

.col-6 {
    padding: 0 15px;
    width: 39%;
}

.col-4 {
    padding: 0 15px;
    width: 33.33333%;
}

p {
    margin: 0;
    padding: 0;
}

#stopy {
    padding: 57px 0;
    background-color: #f2f2f2;
}

.section_title {
    position: relative;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2.30625px;
    color: #48555B;

}

.story_title {
    text-align: center;
    margin-bottom: 92px;
}

.story_title::before {
    left: 0;
    right: 0;
    margin: auto;
}

.section_title::before {
    bottom: -10px;

    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #00A4E5;

}

.story_leftside {
    padding-right: 122px;
}

.sub_title {

    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;

    color: #48555B;
}

.story_sub_title {
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #48555B;
}

.card_story {
    width: 120px;
    padding: 15px;
    height: 224px;
}

.story_car_text {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;

    color: #FFFFFF;
}

.first_card_bg {
    background: url("../images/img1.jpg")center/cover;
}

.second_card_bg {
    background: url("../images/img1.jpg")center/cover;
}

.third_card_bg {
    background: url("../images/img1.jpg")center/cover;
}

#capabilities {
    padding: 62px 0 115px 0;
}

.capabilities_info {
    margin-bottom: 76px;
}

.capabilities-grids {
    grid-column-gap: 27px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.capabilities_card {
    padding: 38px 22px 39px 23px;
    height: 330px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
}

.capabilities_card_title {
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    letter-spacing: 0.426667px;

    color: #48555B;
}

.capabilities_card_desc {
    font-size: 13px;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.1875px;

    color: #48555B;
}

#get-in-touch {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    padding-top: 112px;
    background: url("../images/bg\ \(1\).png")center/cover;
}

.get-in-touch-title {
    width: 300px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.15px;
    font-weight: bold;
    color: #48555B;
}

.get-in-touch-button {
    position: relative;
    height: 40px;
    left: 0px;
    top: 0px;
    background: #00A4E5;
}

#sign-up {
    height: 100px;
    background: #171819;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-up-title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.846154px;
    margin-right: 70px;
    color: #FFFFFF
}

.sign-up-form input {
    margin-right: -4px;

    width: 250px;
    height: 40px;
    left: 286px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #979797;
}

.sign-up-form button {
    width: 150px;
    height: 46px;
    left: 0px;
    top: 0px;
    background: #00A4E5;
}

.footer-nav {
    background: #141A20;
    height: 240px;
    padding-top: 42px;
    background: #141A20
}

.footer-nav-flex {
    display: flex;
}

.footer-nav-title {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.footer-nav-desk {
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
    width: 250px;
    margin-top: 16px;
}

.footer-menu-lists {
    display: flex;

}

h5 {
    margin: 0;
}

.footer-menu-list {
    margin: 0 34px 0 0;
    padding: 0;
    list-style: none;
}

.footer-menu-item {
    flex-direction: column;
    margin-bottom: 6px;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.footer-nav-icons {
    display: flex;
    padding-top: 30px;
}

.footer-nav-icons i {
    color: #E6E6E6;
}

.footer-nav-icons i:not(:last-child) {
    margin-right: 24px;
}

.footer {
    background: #171819;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;

    color: #FFFFFF;
}